.filterDrawer {
  display: none;
  background-color: red;
}

.filterDrawer__toggler {
  width: 100px;
  margin: 20px 0;
}

.filterDrawer__toggler button {
  padding: 15px 0;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  outline-width: none;
  cursor: pointer;
  width: 100%;
}

.filterDrawer__filtersContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 60px 0 14px;
}

.filterDrawer__checkBox {
  padding-left: 0;
}
