* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 30px 16px;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding: 30px 16px;
  }
}

@media screen and (max-width: 360px) {
  main {
    padding: 30px 16px;
  }
}
