* {
  margin: 0;
  padding: 0;
}

main {
  padding: 30px 16px;
}

@media screen and (min-width: 600px) {
  main {
    padding: 30px 16px;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  main {
    padding: 30px 60px;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }
}
