@font-face {
  font-family: Aloevera;
  src: url("../../../public/fonts/Aloevera-OVoWO.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.title {
  font-family: Aloevera;
  font-weight: bolder;
  font-size: 70px;
}
.maincontainer {
  margin: 0 auto;
  background-color: #f8f6f1;
  min-height: 575px;
  font-family: 'Poppins';
}
.wordscontainer {
  float: right;
  width: 50%;
  padding: 30px;
  font-family: "Poppins";
}
.wordscontainer p {
  padding: 10px;
}
.personalinfo {
  text-align: left;
}
.form {
  width: 50%;
  padding: 40px;
  font-family: "Poppins";
}
.form input {
  padding: 10px;
  width: 75%;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}
.submit {
  border: black solid;
  padding: 10px 60px 10px 60px;
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: "uppercase";
}
