.shop__products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.modal {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .shop__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .shop__products {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 500px;
    padding-bottom: 15px;
  }

  .shop__products div {
    max-width: 200px;
  }
}

@media screen and (min-width: 900px) {
  .shop__container {
    grid-template-columns: 1fr 3fr;
  }

  .shop__products {
    justify-self: center;
    max-width: 800px;
  }

  .shop__products div {
    max-width: 230px;
  }
}
