.product {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.product__link {
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.product__info {
  display: grid;
  gap: 5px;
  margin-top: 10px;
}

.product__info svg {
  display: none;
}

.product__name {
  text-transform: lowercase;
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .product {
    padding: 20px;
  }

  .product img {
    height: 150px;
  }
}

@media screen and (min-width: 900px) {
  .product__info {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .product__info span {
    grid-row: 2;
    grid-column: 1;
  }

  .product__info svg {
    display: inline;
    grid-row: 1/-1;
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  .product__info button {
    display: inline;
    grid-row: 1/-1;
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(0, 139, 0);
    padding: 0;
  }
  .product__info button:hover {
    background-color: rgba(0, 139, 0, 0.3);
  }

  .modal {
    grid-row: 1/-1;
  }

  .product__edit {
    color: rgb(0, 139, 0);
  }

  .product__delete {
    color: rgb(176, 0, 32);
  }

  .product__edit:hover {
    background-color: rgba(0, 139, 0, 0.3);
  }

  .product__delete:hover {
    background-color: rgba(176, 0, 32, 0.3);
  }
}
