@font-face {
  font-family: Aloevera;
  src: url("../../public/fonts/Aloevera-OVoWO.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
  font-family: Aloevera;
  font-weight: bolder;
  font-size: 70px;
  color: #2f2a22;
  padding-top: 45px;
}
.container {
  text-align: center;
  background-color: #f8f6f1;
  color: #2f2a22;
  p,
  h3 {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
  }
  .button {
    border: black solid;
    padding: 10px 60px 10px 60px;
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: 'uppercase';
  }
  .button:hover {
    background-color: #d49e21;
    transition: 1s;
    border: #d49e21;
  }
  .button a {
    text-decoration: none;
    color: #2f2a22;
  }
}
.accesories {
  width: 80%;
  margin: 0 auto;
}
