.footer {
  background-color: #A49694;
  color: #f8f6f1;
  text-align: center;
}
.header {
  background-color: #A49694;
  color: #f8f6f1;
  text-decoration: none;
}
.links{
    text-decoration: none;
    color: #F8F6F1;
    justify-content: space-between;
    font-family: 'Poppins';
    display: flex;
}
.links a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button:hover{
    text-decoration: underline;

}
.navcontainer{
    display: flex;
}