.footer {
  background-color: #A49694;
  color: #f8f6f1;
  text-align: center;
}
.header {
  background-color: #A49694;
  color: #f8f6f1;
}
.links{
    text-decoration: none;
    color: #F8F6F1;
    font-family: 'Poppins';
}

.navcontainer{
    padding: 10px;
    display: flex;
}
.child{
  border: none;
  text-decoration: none;
  background-color: #A49694;
  font-family: "Poppins";
  justify-content: space-around;
}