.footer{
    background-color: #2F2A22;
    color: #F8F6F1;
    text-align: center;

}
.header{
    background-color: #2F2A22;
    color: #F8F6F1;
    text-decoration: none;

}
.header button:hover{
    text-decoration: underline;
}
